<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/index.css">
        <script src="js/group.js" ></script>
    </head>
    <body>
        <div id="topnav" class="topnav">
            <a href="/">Strona główna</a>
            <input id="search-bar" placeholder="Szukaj grupy"/>
            <a href="/user/logout" id="userdropdown">Wyloguj</a>

        </div>
        <div class="sidenav">
            <a href="#" onclick="fetchGroups()">Twoje grupy</a>
            <a href="#" onclick="">Stwórz grupę</a>
        </div>
        <div class="main" id="main">
            <!-- <div class="post">
                <h3><a href="#">Użytkownik</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ultricies nunc sit amet pulvinar molestie. Nulla facilisi. 
                Nullam vel sagittis ipsum. Phasellus vitae mauris ipsum. Ut pharetra est quis ultrices ullamcorper. Morbi at velit vel nisi luctus molestie. 
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in tincidunt odio. Suspendisse maximus arcu quis justo pharetra pellentesque. 
                Morbi consectetur, urna ut porttitor ornare, tellus neque cursus ligula, id pulvinar dui lacus sollicitudin risus. Curabitur tincidunt nulla in congue sagittis. 
                Ut purus augue, mattis sed mollis non, tincidunt in ex. Ut lectus quam, ornare non urna et, congue interdum lorem. 
                Ut tempor, enim eget dictum placerat, nulla orci pulvinar lectus, at pharetra risus lorem iaculis magna. In massa dolor, commodo vitae viverra quis, gravida eu erat.

                Pellentesque sed mollis augue. Cras porttitor, lectus at placerat porttitor, ante ligula feugiat tortor, at sagittis 
                dui felis id lorem. Integer lacinia nisi at pretium mattis. Integer dignissim finibus leo, id malesuada erat viverra a. 
                Fusce placerat ex quam, sed laoreet nisl lobortis nec. Curabitur et felis sed lacus condimentum finibus. Quisque hendrerit lorem nisl, 
                et rutrum massa volutpat at. Donec dictum magna sit amet justo vulputate dignissim sed ac justo. Mauris eleifend libero a congue interdum.
                Aenean vel mauris vel lectus malesuada aliquam nec a lectus. Ut vitae mattis elit. Pellentesque commodo, turpis in facilisis mollis, magna nibh dignissim leo,
                quis pellentesque eros libero sit amet orci. Etiam lorem tellus, sodales quis facilisis at, laoreet a mi. Sed in enim tincidunt, sagittis nunc eget, feugiat
                nulla. Fusce sollicitudin gravida tincidunt. 
                </p>
            </div>
            <div class="post">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ultricies nunc sit amet pulvinar molestie. Nulla facilisi.                  -->
            <!-- </div> -->
        </div>
        <div id="modal-window">
        </div>
    </body>

</html>
